#category{
    font-size: xx-large;
    font-weight: 700;
}.product1{
    height: 6rem;
}#container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    padding: 2rem;
    width: 79%;
    gap: 1rem;
    overflow-y: scroll;
  
    background-color: rgb(22, 49, 12);
    margin-top: 1rem;
 
}.container2{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 2rem;
    gap: 1rem;
}#input{
    padding: 0.4rem;
    background-color: rgb(54, 56, 54);
    border: none;
    color: white;
}::placeholder{
    color: rgb(103, 103, 103);
}


#input:focus{
    outline: none;
}.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.4rem;
    background-color: rgb(255, 255, 255);
    padding: 1.4rem;
    margin: 0.1rem;
    width: 100%;
    height: 26rem;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 48, 41);
}#btn{
    background-color: cadetblue;
    color: white;
    padding: 0.4rem;
}.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    align-items: center;
    color: white;
    padding: 0.5rem;
}